/* Global settings */
body {
  color: rgb(248, 248, 248);
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-right: 20px;
}

.container-bg {
  background-color: rgba(245, 246, 250, 0.2);
}
.page-background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/log-in-background-compressed.jpg);
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 12px;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
}

.form-header {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #718093, #353b48);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.fixed-bottom {
  z-index: -1;
}

.custom-input,
.custom-input:focus {
  background-color: rgba(245, 246, 250, 0.2);
  border: none;
  outline: none;
  border-radius: 100px;
}

.custom-button,
.custom-button:link,
.custom-button:hover,
.custom-button:visited {
  border-radius: 100px;
  background-color: rgba(255, 121, 121);
  border: none;
}

.custom-button:hover {
  transform: translateY(-3px);
}
.custom-button:active,
.custom-button:link {
  transform: translateY(-1px);
}

.custom-jumbotron {
  background-image: url(../images/jumbotron-subtle.png);
  -webkit-box-shadow: 3px 3px 5px 6px black;
  -moz-box-shadow: 3px 3px 5px 6px black;
  box-shadow: 3px 3px 5px 6px black;
}

/* Log-in page settings */

/* Icons for input fields */
.inner-addon {
  position: relative;
}

.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .fas {
  left: 0px;
}

.left-addon input {
  padding-left: 30px;
}

/* Custom settings for landing page buttons */
#book-now-button:link,
#book-now-button:visited,
#create-course-button:link,
#create-course-button:visited {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
}

#book-now-button:hover,
#create-course-button {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#book-now-button:active,
#create-course-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.landing-page-cards {
  box-shadow: 0 8px 6px -6px black;
  color: rgb(92, 89, 89);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 0.2s; /* Animation */
}
.landing-page-cards h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.landing-page-cards .fas,
.landing-page-cards .far {
  font-size: 30px;
  color: rgba(255, 121, 121, 0.8);
}

.landing-page-cards:hover {
  transform: scale(1.1);
}

/* Animations */
.animate-header {
  letter-spacing: 5px;
  animation: moveToLeft 1s, ease-out 1s;
}

.animate-subheader {
  letter-spacing: 3px;
  animation: moveToRight 1s, ease-out 1s;
}

.animate-button {
  animation: moveToBottom 0.5s ease-out 1.75s;
  animation-fill-mode: backwards;
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Profile */
.profile-image-background {
  background-image: url("../images/embossed-diamond.png");
  box-shadow: 0 8px 6px -6px black;
}

.courses-card {
  box-shadow: 0 8px 6px -6px black;
  perspective: 150rem;
  max-width: 275px;
  min-width: 275px;
  min-height: 200px;
  color: rgb(92, 89, 89);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  border-radius: 3px;
  transition: transform 0.2s; /* Animation */
}

.courses-card h5 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.custom-card-header {
  background-color: rgba(75, 75, 75, 0.452);
  background-image: linear-gradient(
    to right,
    rgba(75, 75, 75, 0.452),
    rgba(75, 75, 75, 1)
  );
  color: #fff;
}

.courses-card:hover {
  transform: scale(1.025);
}
